*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */
  --color-primary-light-blue-100: hsl(225, 100%, 94%);
  --color-primary-dark-blue-700: hsl(245, 75%, 52%);
  /* Neutral */
  --color-neutral-blue-50: hsl(225, 100%, 98%);
  --color-neutral-gray-600: hsl(224, 23%, 55%);
  --color-neutral-blue-950: hsl(223, 47%, 23%);
  /* Font Size */
  --font-size-p: 16px;
  /* Font Family */
  --font-family: "Red Hat Display", sans-serif;
}
body {
    font-family: var(--font-family);
    background-color: var(--color-primary-light-blue-100);
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 5px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 30px 50px -10px hsl(245, 75%, 85%);
}
.card-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 25px;
}
.card-flexbox p{
    max-width: 240px;
}
.hero {
    max-width: 375px;
    border-radius: 20px 20px 0 0;
}
.text-blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}
.text-blurb h1 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
    color: var(--color-neutral-blue-950);
}
.text-blurb p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-gray-600);
    font-weight: 700;
    line-height: 1.5;
    font-size: 14px;
    max-width: 240px;
}
.info-flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    background-color: var(--color-neutral-blue-50);
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 100%;
}
.info-flexbox a {
    margin-left: auto;
    font-weight: 900;
    text-decoration: underline;
    color: var(--color-primary-dark-blue-700);
}
.info-flexbox a:hover {
    color: hsl(240, 100%, 80%);
    text-decoration: none;
}
.annual-plan-flexbox {
    color: var(--color-neutral-gray-600);
    flex: 1;
}
.annual-plan-flexbox h4 {
    font-weight: 900;
    color: var(--color-neutral-blue-950);
}
.annual-plan-flexbox p {
    font-weight: 500;
}
.button{
    background-color: var(--color-primary-dark-blue-700);
    color: #ffffff;
    font-weight: 900;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 20px 30px hsl(245, 75%, 89%);
    padding: 15px;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    } 
.button a {
    margin-top: 30px;
    }
.button:hover {
    background-color: hsl(240, 100%, 80%);
}
.button:active {
    background-color: hsl(240, 100%, 80%);
    transform: translatey(4px);
}
.cancel-order {
    text-decoration: none;
    color: var(--color-neutral-gray-600);
    font-weight: 900;
    margin-top: 25px;
}
.cancel-order:hover {
    color: var(--color-neutral-blue-950);
}
footer {
    margin: 50px;
}
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Queries */

/* Media query Tablet */

@media (min-width: 430px) {
    body {
        padding-top: 40px;
        background-image: url("../images/pattern-background-desktop.svg");
        background-position: top center;
        background-size: 100%;
    }
    .card {
        max-width: 400px;
    }
    .hero {
        width: 100%;
        max-width: 100%;
    }
}

/* Media query Desktop */
@media (min-width: 768px) {
    body {
        padding-top: 80px;
        background-image: url("../images/pattern-background-desktop.svg");
        background-position: top center;
        background-size: 100%;
    }
    .card {
        max-width: 400px;
    }
    .card-flexbox {
        padding-top: 30px;
    }
    .hero {
        width: 100%;
        max-width: 100%;
    }
    .info-flexbox {
        padding: 15px 20px;
    }
    .button {
        padding: 15px;
    }
}