*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */
  --color-white: #ffffff;
  --color-primary-light-blue-100: hsl(225, 100%, 94%);
  --color-primary-dark-blue-700: hsl(245, 75%, 52%);
  /* Neutral */
  --color-neutral-blue-50: hsl(225, 100%, 98%);
  --color-neutral-gray-600:hsl(224, 23%, 40%);
  --color-neutral-blue-950: hsl(223, 47%, 23%);
  /* Font Size */
  --font-size-p: 1rem;
  /* Font Family */
  --font-family: "Red Hat Display", sans-serif;
}
body {
    font-family: var(--font-family);
    background-color: var(--color-primary-light-blue-100);
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 0.3125rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(17rem, 90%, 25rem);
    border-radius: 1.25rem;
    background-color: var(--color-white);
   box-shadow: 0 1.875rem 3.125rem -0.625rem hsl(245, 75%, 85%);
}
.card-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 1.5625rem;
}
.card-flexbox p{
    max-width: clamp(15rem, 80%, 20rem);
}
.hero {
    max-width: 23.4375rem;
    border-radius: 1.25rem 1.25rem 0 0;
}
.text-blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5625rem;
}
.text-blurb h1 {
    margin-bottom: 1.25rem;
    font-weight: 900;
    font-size: clamp(1.25rem, 3vw, 1.375rem);
    color: var(--color-neutral-blue-950);
}
.text-blurb p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-gray-600);
    font-weight: 700;
    line-height: 1.5;
    font-size: clamp(0.8rem, 2vw, 0.875rem);
    max-width: clamp(15rem, 80%, 20rem);
}
.info-flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-neutral-blue-50);
    border-radius: 0.625rem;
    padding: 0.625rem 0.9375rem;
    margin-bottom: 1.25rem;
    width: 100%;
}
.info-flexbox a {
    margin-left: auto;
    font-weight: 900;
    text-decoration: underline;
    color: var(--color-primary-dark-blue-700);
}
.info-flexbox a:hover {
    color: hsl(240, 100%, 80%);
    text-decoration: none;
}
.annual-plan-flexbox {
    color: var(--color-neutral-gray-600);
    flex: 1;
}
.annual-plan-title {
    font-weight: 900;
    color: var(--color-neutral-blue-950);
}
.annual-plan-flexbox .price {
    font-weight: 500;
}
.button{
    background-color: var(--color-primary-dark-blue-700);
    color: var(--color-white);
    font-weight: 900;
    border-radius: 0.75rem;
    border: none;
    box-shadow: 0 1.25rem 1.875rem hsl(245, 75%, 89%);
    padding: 0.9375rem;
    width: 100%;
    font-size: 0.875rem;
    margin-top: 0.3125rem;
    } 

.button:hover {
    background-color: hsl(240, 100%, 80%);
}
.button:active {
    background-color: hsl(240, 100%, 80%);
    transform: translatey(0.25rem);
}
.cancel-order {
    text-decoration: none;
    color: var(--color-neutral-gray-600);
    font-weight: 900;
    margin-top: 1.5625rem;
}
.cancel-order:hover {
    color: var(--color-neutral-blue-950);
}
footer {
    margin: 3.125rem;
}
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Queries */

/* Media query Tablet */

@media (min-width: 26.875rem) {
    body {
        padding-top: 2.5rem;
        background-image: url("../images/pattern-background-desktop.svg");
        background-position: top center;
        background-size: 100%;
    }
    
    .hero {
        width: 100%;
        max-width: 100%;
    }
}

/* Media query Desktop */
@media (min-width: 48rem) {
    body {
        padding-top: 5rem;
        background-image: url("../images/pattern-background-desktop.svg");
        background-position: top center;
        background-size: 100%;
    }
    
    .card-flexbox {
        padding-top: 1.875rem;
    }
    .hero {
        width: 100%;
        max-width: 100%;
    }
    .info-flexbox {
        padding: 0.9375rem 1.25rem;
    }
    .button {
        padding: 0.9375rem;
    }
}